body {
  /* background: rgb(36,0,24);
  background: linear-gradient(90deg, rgba(36,0,24,1) 0%, rgba(14,9,121,1) 35%, rgba(255,145,0,1) 100%); */
  /* background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,168,252,1) 100%); */
background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,106,70,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #6f7d97*/
input{
  border-radius: 5px;
  width: 100px;
  height: 25px;
} 
h1 {
  text-shadow: 1px 1px 3px aliceblue, 5px 2px 10px #4f70b4;
}

h2 {
  text-shadow: 1px 1px 2px aliceblue, 4px 1px 5px #4f70b4;
}

.App {
  text-align: center;
}

.App-nav-links {
  color: #f9fbfc;
  text-decoration: none;
}

.my-nav {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #f9fbfc;
  list-style: none;
  display: inline-flex;
  padding: 0 15px 5px 25px;
  margin:  0 5px 0 5px;
  background-color: #2b2e33;
  margin: 0;
}

nav.my-nav {
  background-color:#2b2e33;
  margin: 0;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 50px;
}

.header {
  text-align: center;
}

.login {
  text-align: center;
}
.popLog{
  background-color: #6d6f74;
  border: none;
  color: #b5e8f7;
  width: 70px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: absolute-size;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);
}

.popClose{
  background-color: #6d6f74;
  border: none;
  color: #b5e8f7;
  width: 70px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
  margin-left: 65px;
  cursor: pointer;
  border-radius: 10px;
  font-size: absolute-size;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);
}

button.home-button {
  background-color: #2b2e33;
  border: none;
  color: #b5e8f7;
  width: 200px;
  height: 75px;
  /* padding: 15px 32px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 30px; */
  margin-right: 30vw;
  margin-left: 30vw;
  cursor: pointer;
  border-radius: 10px;
  font-size: 3rem;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);
}

button.login-button {
  background-color: #2b2e33;
  border: none;
  color: #07b5e6;
  width: 300px;
  height: 75px;
  /* padding: 15px 32px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 30px; */
  margin-top: 25vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 3rem;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin: 0;
}

.greeting {
  padding-left: 50px;
}

.noteSelection {
  background-color: #ffffff;
  border: 1.75px solid black;
  color: black;
  width: 16vw;
  height: 10vw;
  overflow: auto;
  margin-left: 5vw;
  margin-top: 10px;
}

.editButton {
  background-color: #2b2e33;
  border: none;
  color: #b5e8f7;
  width: 100px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 30vw;
  margin-left: 30vw;
  cursor: pointer;
  border-radius: 10px;
  font-size: absolute-size;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);
}

.fontDrop {

  background-color: #2b2e33;
  border: none;
  color: #b5e8f7;
  width: 70px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: absolute-size;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);

}
.sizeDrop {

  background-color: #2b2e33;
  border: none;
  color: #b5e8f7;
  width: 70px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
  margin-left: 60px;
  cursor: pointer;
  border-radius: 10px;
  font-size: absolute-size;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664);


}

.checkbox{
  background-color: #2b2e33;
  border: none;
  color: #b5e8f7;
  width: 70px;
  height: 35px;
  cursor: pointer;
  border-radius: 40%;
  }
  
.save{
  background-color: #2b2e33;
  border: none;
  color: #b5e8f7;
  width: 100px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border-radius: 10px;
  font-size: absolute-size;
  vertical-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2), 0 6px 20px 0 rgba(41, 58, 95, 0.664); 
}
button.newNote {
  position: relative;
  left: -60px;
}

div.newNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.notePreview {
  float: center;
  width: 50vw;
  height: 400px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  border-radius: 25px;
  padding: 10px;
}

.noteText {
  float: center;
  width: 50vw;
  height: 400px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  border-radius: 25px;
  padding: 10px;
  margin-right: 100px;
}

.titleName {
  float: center;
  width: 200px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  padding: 10px;
  border-radius: 25px;
  margin-right:100px;
}

@media only screen and (max-width: 700px) {
  button.home-button {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

.modal {
  font-size: 12px;
  background-color: #2b2e33;
  padding: 50px;
  box-shadow: 8px 10px 25px 8px rgba(12, 11, 11, 0.2), 8px 10px 25px 7px rgba(41, 58, 95, 0.664);
  border-radius: 25px;
  border-top-right-radius: 0px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -7px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}