body {
    margin: 100px;
    margin-left: 500px;
    margin-right: 500px;
}

.greeting {
    padding-left: 50px;
}

.search {
    padding-right: 50px;
}

.noteSelection {
    border: 2px solid black;
    width: 150px;
    height: 100px;
    overflow: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.newNote {
    margin-top: 50px;
    margin-left: 85px;
}

.notePreview {
    float: right;
    width: 600px;
    height: 400px;
}